<div class="add_comment">
  <h4 style="margin-top: 10px;">Добавить комментарий</h4>
  <form onsubmit="setTimeout(function () {
              window.location.reload();
          }, 10);"
        class="col-sm-8" style="padding-left: 0;" action="http://localhost/php/add_comment.php" method="post">
    <textarea type="text" name="comment_text" placeholder="Введите отзыв" class="form-control" ></textarea>
    <input type="hidden" name="book_id" value="{{e.book_id}}">
    <button type="submit" class="btn btn-default add_comment_btn">Добавить комментарий</button>
  </form>
</div>