<h3 style="margin-top: 20px;">Владельцы книги</h3>
<h4>Свободные экземпляры книги:</h4>
{% include 'current_availible.twig'%}
<h4>Занятые экземпляры книги:</h4>
{% include 'current_unavailible.twig'%}

