<div class="buttons_panel">
  {% if (user.book_offer == '1' or role == 'admin') %}
      <form action="http://localhost/php/change_book.php" method="POST">
        <input type="hidden" name="id" value="{{e.book_id}}">
        <button type="submit" class="btn btn-warning change_book_button">Изменить книгу</button>
      </form>
      {% if (user.book_offer == '1') %}
          <form onsubmit="ReloadPage();"
                action="http://localhost/php/remove_existing_book.php" method="POST">
            <input type="hidden" name="id" value="{{e.book_id}}">
            <button type="submit" class="btn btn-danger add_book_button">Нет этой книги</button>
          </form>
      {% endif %}
  {% else  %}
      <form onsubmit="ReloadPage();"
            action="http://localhost/php/add_existing_book.php" method="POST">
        <input type="hidden" name="id" value="{{e.book_id}}">
        <button type="submit" class="btn btn-success add_book_button">Есть эта книга</button>
      </form>
  {% endif %}
  {% if role == 'admin' %}
      <form>
        <button type="button" class="btn btn-danger danger_book_button">Удалить книгу</button>
      </form>
      <div id="deleteBookPopup" class="delete_popup_background">
        <div class="delete_popup">
          <h4> Удалить книгу?</h1>
            <form class="danger_book_button" action="http://localhost/php/response_delete_book.php" method="POST">
              <input type="hidden" name="id" value="{{e.book_id}}">
              <button type="submit" class="btn btn-danger center-block">Удалить книгу</button>
            </form>
            <button id="cancelDelete" type="button" class="btn-secondary cancel_book_button center-block">Отмена</button>
        </div>
      </div>
  {% endif %}
</div>