<div class="clear text-center"> 
  <ul id="indexPagination" class="pagination" pages="{{pages}}"
      {% if filter == 0 %}
          style="display: inline-block"

      {% endif %}
      ></ul> 

</div>