
<div class="sidebar-offcanvas" id="sidebar">
  {% if genre is not empty%}
  <div class="list-group">
    <p class="list-group-item sidebar_list_title">Жанры:</p>
    {% for e in genre %}
        <a href="http://localhost/index.php?genre={{e.genre_id}}" class="list-group-item">{{e.genre_ru}}</a>
    {% endfor %}
  </div>
  {% endif %}
</div><!--/.sidebar-offcanvas-->
