label.label_upload_image input
{
    display: none;
}

/*.image_upload_input
{
    opacity: 0;    
}*/

#previewImageId
{
    width: 214px;
    height: 280px;
    background-color: #b5c5c3;
    background-image: url('http://localhost/content/images/NoImage.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
}

#previewImageId:hover
{
    opacity: 0.8;
    outline: 1px solid #7f7fff;
}