*
{
    margin:0;
    padding:0;
}

body
{
    /* height: 100vh;*/
    padding-top: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: linear-gradient(to bottom right, #ffffea, #ffffff);
}

.content
{
/*    width: 98%;*/
    margin: auto;
    margin-bottom: 5px;
    background: #c5927f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*header begin*/
.header
{
    height: 90px;
    width: 99%;
    margin: auto;
    margin-top: 5px;
    background: linear-gradient(to bottom right, #8b2500, #b97c66);
    border-width: 3px;
    border-style: solid;
    border-color: #b97c66;
    border-radius: 5px;
}

@media (min-width: 1000px){

    .search_bar
    {
        margin-top: 8px;
        float: left;
    }

    .login_btn
    {
        float:right;
    }
}

@media (max-width: 999px) and (min-width: 768px) 
{   
    .navbar-brand
    {
        display:none;
    }
}

/*header end*/

/*sidebar begin*/

.sidebar_list_title
{
    color: #ffffff;
    background-color: #222222;
    border: none;    
}


.list_of_book_types
{
    list-style-type: none;
    padding-left: 20px;
}

@media (max-width: 674px) 
{   
    .sidebar
    {
        display:none;
    }
}

/*sidebar end*/

/*content begin*/
.content
{
    margin-left: 250px;
    background: #ffffff;
}

.book_on_main_page_container
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.book_on_main_page
{
    height: 200px;
    color: #222222;
    padding: 5px;
    overflow: hidden;
    background-color: #FFFAFF;
}

.book_on_main_page:hover
{
    background-color: #F3F7FF;
    cursor: pointer;
}

.book_cover
{
    height: 170px;
    width: 116px;
    float: left;
    margin-right: 5px;
}

div.book_cover img
{
    height: inherit;
    width: 116px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('http://localhost/content/images/NoCover.jpg');
}

.description_main_page h4
{
    margin-top: 3px;
}

.description_main_page h4, p 
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;

}

.description_main_page span
{
    font-weight: bold;
}

.rate_margin_main
{
    margin-top: 4px;
    margin-right: 17px;
    float: right;
}
/*content end*/

.clear
{
    clear: both;
}