*
{
    margin:0;
    padding:0;
}

body
{
    /* height: 100vh;*/
    padding-top: 70px;
    overflow-x: hidden;
    background: linear-gradient(to bottom right, #afc2be, #ffffff);
}

.content
{
    width: 98%;
    margin: auto;
    margin-bottom: 5px;
    background: #c5927f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*header begin*/
.header
{
    height: 90px;
    width: 99%;
    margin: auto;
    margin-top: 5px;
    background: linear-gradient(to bottom right, #8b2500, #b97c66);
    border-width: 3px;
    border-style: solid;
    border-color: #b97c66;
    border-radius: 5px;
}

@media (min-width: 1000px){

    .search_bar
    {
        margin-top: 8px;
        float: left;
    }

    .login_btn
    {
        float:right;
    }
}

@media (max-width: 999px) and (min-width: 768px) 
{   
    .navbar-brand
    {
        display:none;
    }
}

/*header end*/

/*sidebar begin*/

.sidebar_list_title
{
    color: #ffffff;
    background-color: #222222;
    border: none;    
}

.sidebar
{
    width: 250px;
    float: left;
}

.list_of_book_types
{
    list-style-type: none;
    padding-left: 20px;
}

/*sidebar end*/

/*content begin*/
.content
{
    margin-left: 250px;
    background: #ffffff;
}

.book_on_main_page_container
{
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.book_on_main_page
{
    height: 100%;
    color: #222222;
    padding: 5px;
    overflow: hidden;
    background-color: #b5c5c3;
}

.book_on_main_page:hover
{
    background-color: #a2cec9;
    cursor: pointer;
}

.book_cover
{
    height: 170px;
    width: 150px;
}

div.book_cover img
{
    height: inherit;
    display: block;
    margin: auto;
}

.description_text_main_page
{
    text-overflow: ellipsis;
}

/* Tooltip container */
.tooltip {
/*    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*endtooltip*/

/*content end*/

.clear
{
    clear: both;
}