.add_book_button
{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    width: 150px;
}

button.add_book_button span
{
    font-weight: bold;
}

.avatar
{
    display: block;
    border: none;
    float: right; 
    width: 150px;
    height: 150px;
}

button.avatar img
{
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

button.avatar img:hover
{
    opacity: 0.5;
}

div.user_info ol
{
    list-style-type: none;
}

div.user_info span
{
    font-weight: bold;
}

.user_books_table
{
    max-height: 300px;
}

.user_books_table_number
{
    width: 30px;
}

.user_books_table_row
{
    height: 30px;
}

.user_books_table_cell{
    width: 150px;
}

table, th, tr, td{
    /*border: 1px solid black;*/
    padding: 5px;
}

.profile_data
{
    display: none;
    width: 350px;

}

#profileDataButton
{
    cursor: pointer;    
}
