.add_book_button
{
    position: absolute;
    top: 0;
    right: 0;
}

button.add_book_button span
{
    font-weight: bold;
}

.avatar
{
    float: left; 
    width: 150px;
    height: 150px;
}

div.avatar img
{
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

div.user_info ol
{
    list-style-type: none;
}

div.user_info span
{
    font-weight: bold;
}

.user_books_table
{
    max-height: 300px;
}

.user_books_table_number
{
    width: 30px;
}

.user_books_table_row
{
    height: 30px;
}

.user_books_table_cell{
    width: 150px;
}

table, th, tr, td{
    border: 1px solid black;
    padding: 5px;
}
